h2 {
	display: none;
}

aside {
	background: #e5e5e5;
	font-size: 100%;
	padding: 10px 0;
    padding-bottom: 10px;
	text-align: center;
	width: 100%
}

#hero{
    display: block;
    padding: 15px;
    margin: auto;
    width: 100%;
}

article{
    text-align: left;
    padding: 10px 15px;
    padding-right: 30px;
}

@media only screen and (min-width: 768px) {

	main {
		display: flex;
	}

    h2 {
        display: inline-block;
        text-align: center;
    }

}