h2 {
    text-align:center
}

main {
  background-color: #e5e5e5;
  display: grid;
  grid-template-areas:
  '.'
  'area2'
  'area2'
    'area3'
    'area3'
    'area3';
  
  grid-gap: 20px;
  padding: 20px;
}

main > section {
  background-color: #fca311;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

#about-section2 {
  grid-area: area2;
}

#about-section3 {
  grid-area: area3;
}

@media only screen and (min-width: 992px) {

  main {
    grid-template-areas:
    '.     area3 '
    'area2 area3 '
    'area2 area3 ';
  }

}